In [2]:
#Importación de libreria
import pandas as pd

# Importamos los datos del archivo csv
CN_tot = pd.read_fwf(r'C:\Users\ricar.DESKTOP-RC3UGI9\CienciaDatos_Python_V5\data\challenge\SN_d_tot_V2.0.txt')
print(CN_tot)

       1818  1  01  1818.001   -1  -1.0  0
0      1818  1   2  1818.004   -1  -1.0  0
1      1818  1   3  1818.007   -1  -1.0  0
2      1818  1   4  1818.010   -1  -1.0  0
3      1818  1   5  1818.012   -1  -1.0  0
4      1818  1   6  1818.015   -1  -1.0  0
...     ... ..  ..       ...  ...   ... ..
75081  2023  7  27  2023.568  145  15.1  8
75082  2023  7  28  2023.571  164  18.6  7
75083  2023  7  29  2023.574  179  17.9  3
75084  2023  7  30  2023.577  180  16.4  6
75085  2023  7  31  2023.579  183  21.3  9

[75086 rows x 7 columns]

In [3]:
CN_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75086 entries, 0 to 75085
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   1818      75086 non-null  int64
 1   1         75086 non-null  int64
 2   01        75086 non-null  int64
 3   1818.001  75086 non-null  float64
 4   -1        75086 non-null  int64
 5   -1.0      75086 non-null  float64
 6   0         75086 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 4.0 MB

In [4]:
CN_tot.columns = ['Año','Mes','Dia','Fecha_decimal','Marchas_solares_diarias','Desviación_estandar','Número_de_observaciones']
CN_tot

,Año,Mes,Dia,Fecha_decimal,Marchas_solares_diarias,Desviación_estandar,Número_de_observaciones
0,1818,1,2,1818.004,-1,-1.0,0
1,1818,1,3,1818.007,-1,-1.0,0
2,1818,1,4,1818.010,-1,-1.0,0
3,1818,1,5,1818.012,-1,-1.0,0
4,1818,1,6,1818.015,-1,-1.0,0
...,...,...,...,...,...,...,...
75081,2023,7,27,2023.568,145,15.1,8
75082,2023,7,28,2023.571,164,18.6,7
75083,2023,7,29,2023.574,179,17.9,3
75084,2023,7,30,2023.577,180,16.4,6
75085,2023,7,31,2023.579,183,21.3,9

In [6]:
#Converción de datos nulos a 0
CN_tot['Marchas_solares_diarias']=CN_tot['Marchas_solares_diarias'].replace(-1,0)
CN_tot['Desviación_estandar']=CN_tot['Desviación_estandar'].replace(-1,0)

In [9]:
observaciones_por_ano = CN_tot.groupby('Año')['Número_de_observaciones'].sum()
print(observaciones_por_ano)

Año
1818     213
1819     249
1820     224
1821     304
1822     353
        ...
2019    1704
2020    1640
2021    1683
2022    1648
2023    1031
Name: Número_de_observaciones, Length: 206, dtype: int64

In [10]:
marchas_por_ano = CN_tot.groupby('Año')['Marchas_solares_diarias'].sum()
print(marchas_por_ano)

Año
1818    11276
1819     9595
1820     5428
1821     2791
1822     2208
        ...
2019     1316
2020     3226
2021    10802
2022    30376
2023    28417
Name: Marchas_solares_diarias, Length: 206, dtype: int64

In [11]:
promedio_desviacion_por_ano = CN_tot.groupby('Año')['Desviación_estandar'].sum()
print(promedio_desviacion_por_ano)

Año
1818    1843.4
1819    1772.7
1820    1212.2
1821    1038.9
1822    1035.7
         ...
2019      90.9
2020     807.4
2021    2493.3
2022    4939.3
2023    4174.1
Name: Desviación_estandar, Length: 206, dtype: float64